@value makerWhite from '../common/colors.css';
@value makerGrey from '../common/colors.css';
@value makerGreen from '../common/colors.css';

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: makerGrey;
}

.outer {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 23em;
  background-color: makerWhite;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 1em;
  font-size: 2rem;
}

.button {
  width: 97%;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  border: 3px solid makerGreen;
  border-radius: 13px;
  font-size: 1.1rem;
}
