@value makerWhite, makerGreen from '../../common/colors.css';

.maker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  background-color: makerWhite;
}

.main > section {
  flex-basis: 50%;
  text-align: center;
  color: makerGreen;
}

@media screen and (max-width: 48em) {
  .main {
    flex-direction: column;
  }
}
